images
src/__pycache__
RAFT
dinov2
data
src/other/estimates
src/debug_data
src/hypotheses.*
src/other_mains.py
src/backup
src/other/features.png
src/other/flowEst2.p
src/*.p
src/Q.txt
src/q.txt
src/abcde
src/cmdout*.txt
src/results.txt
src/tracker
src/Q_sorted.txt
src/Qmat.txt
src/options.ini
src/options2.ini
src/sequences.ini
src/src_zips
src/src*.zip
src/qt.txt
src/testd*.txt
src/bash/path*
src/trs.txt
src/debug.txt
src/partial_src.zip
*.txt
*.p